@use "variables" as *;
@use "mixins" as *;

.btn {
    &__offer-submit {
        background-color: $night-2;
        color: $white;

        gap: 6px;

        font-size: 1.063rem;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0.3px;

        margin-top: 13px;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            background-color: $dark;
        }

        @media (max-width: $lg) {
            font-size: 1rem;
        }
    }
}
